/*11-03*/
body {
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 40, 40); /* Un fondo para hacer que el A4 destaque */
  }
  
  .folio{
    width: 700pt;
    height: 850pt;
    padding: 5%;
    margin: 10mm auto;
    background-color: white; /* Fondo blanco para simular el papel */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Opcional: agrega sombra para efecto de papel */
    box-sizing: border-box;
  }
  
  .logo-titulo{
    text-align: center;
  }

  #logo{
    width: 15%;
  }
 
  .fechaprecio{
    font-family: monospace;
    font-size: large;
    font-style: oblique ;
  }
  
  footer{
    margin-top: 50%;
    left: 0; /* Alinea el footer a la izquierda de la ventana del navegador */
    bottom:0%; /* Alinea el footer a la parte inferior de la ventana del navegador */
    height:3% ;
    width: 100%;
    background: -webkit-linear-gradient(to right, #19547bb7, #ffd99bc9);
    background: linear-gradient(to right, #19547bb7, #ffd99bc9);    
  }

.copy{
  margin-top: 0.5%;
  color:white;
  text-align: center;    
}

@media (max-width: 950px) {  
  .folio{
    width: 525pt;
    height: 700pt;
  }

  footer{
    margin-top: 30%;
  }
}

@media (max-width: 700px) {  
  .folio{
    width: 400pt;
    height: 500pt;
  }

  #logo{
    width: 3em;
  }

  .texto-header{
    font-size: x-small;
  }

  .info p{
    font-size: x-small;
  }

  .fechaprecio{
    font-size: x-small;
  }

  footer{
    margin-top: 40%;
    font-size: x-small;
  }
}

@media (max-width: 535px) {  

  .folio{
    width: 330pt;
    height: 450pt;
  }

  .info p{
    font-size: xx-small;
  }

  .fechaprecio{
    font-size: x-small;
  }

  footer{
    margin-top: 50%;
    font-size: x-small;
  }
}
  